body {font-family: Arial, Helvetica, sans-serif;}

label {
	font-size: 12px;
}

label.situacao {
	font-size: 15px;
}

p.campos {
	font-size: 12px;
	text-align: right;
	margin: 0;
	padding: 0;
}

table {
    border-collapse: collapse;
    width: 0%;
}

td, th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 2px 15px 2px 5px;
	
}

tr:nth-child(even) {
    background-color: #E3DFFF;
}

input[type=text], 
input[type=password], 
input[type=number], 
input[type=date],
input[type=email]
{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
	
}

input[type=submit] {
    background-color: #4766DF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

input[type=submit]:hover {
    background-color: #3315Cb;
}

.container {
	width: 500px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
    border-radius: 5px;
    padding: 5px 15px 15px 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}